/*---------------------
        RESET
-----------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*---------------------
        GENERAL
-----------------------*/

body {
    font-family: "Sen", sans-serif;
    background-color: rgb(36, 36, 36);
    color: #fff;
}

/*---------------------
        LAYOUT
-----------------------*/

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: center;
}